nav.navbar.navbar-default.navbar-fixed-top
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#page-top') JAPS Generator
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top')
                li.page-scroll
                    a(href='#about') About
// Header
header
    .container
        .row
            .col-lg-12
                img.img-responsive(src='assets/image/profile.png', alt='')
                .intro-text
                    span.name JAPS Generator
                    hr.star-light
                    span.skills JAX-RS - AngularJS - PostgreSQL
// About Section
section#about.success
    .container
        .row
            .col-lg-12.text-center
                h2 About
                hr.star-light
        .row
            .col-lg-4.col-lg-offset-2
                p
                    | JAPS Generator is a yeoman based generator, which provide a simple way to build a fast JAX-RS, AngularJS and PostgreSQL Project.
            .col-lg-4
                p
                    | It is built and maintained by Win team
            .col-lg-8.col-lg-offset-2.text-center
                a.btn.btn-lg.btn-outline(href='#')
                    i.fa.fa-download
                        |  Github
// Footer                                                
footer.text-center
    .footer-above
        .container
            .row
                .footer-col.col-md-4
                    h3 Why use?
                    p 
                        | Because it includes all you need to simple a really awesome Java projext
                .footer-col.col-md-4
                    h3 Around the Web
                    ul.list-inline
                        li
                            a.btn-social.btn-outline(href='#')
                            i.fa.fa-fw.fa-facebook
                        li
                            a.btn-social.btn-outline(href='#')
                            i.fa.fa-fw.fa-google-plus
                        li
                            a.btn-social.btn-outline(href='#')
                            i.fa.fa-fw.fa-twitter
                        li
                            a.btn-social.btn-outline(href='#')
                            i.fa.fa-fw.fa-linkedin
                        li
                            a.btn-social.btn-outline(href='#')
                            i.fa.fa-fw.fa-dribbble
                .footer-col.col-md-4
                    h3 About Win
                    p
                        | Win Team is a brazilian company which only wants craft every software with passion as if were the last software.
    .footer-below
        .container
            .row
                .col-lg-12
                    | Copyright © Win Team 2015
